Repository manyuemeiquqi/vue-tsx-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": [
    "bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false",
    "eslint  --fix"
  ],
  "**/*.{css,scss}": ["stylelint  --fix"],
  "**/*.vue": ["eslint  --fix"]
}

chore: update lintstagedrc github.com/lint-staged/lint-staged/issues/468#issuecomment-605102567
  .lintstagedrc.json
Due: none

feat: add type-check
  .husky/pre-push
Due: none

feat: config lintstagedrc
  .lintstagedrc.json
Due: none

chore: test tsx lint
  src/App.tsx
  src/components/card-layout/index.tsx
  src/components/layout-component/PageComponent.tsx
  src/components/layout-component/TabBar.tsx
  src/components/layout-component/TabItem.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

chore: test eslint
  src/views/visualization/multi-dimension-data-analysis/DataOverview.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

fix: correct scripts
  .husky/pre-push
Due: none

feat: reconfig commlintrc
  .commitlintrc.json
  commitlint.config.cjs
Due: none

feat: add git history
  README.md
Due: none

feat: update husky
  .husky/pre-commit
  .husky/pre-push
Due: none

feat: test pre-push
  src/App.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: add husky prepare and test pre-push
  package.json
  src/App.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: test husky push
  src/App.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: replace pre-push with pre-commit
  .husky/pre-commit
  .lintstagedrc.json
Due: none

feat: add style lint
  package.json
Due: none

feat: test prettier format
  src/App.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: add locale library
  src/locale/en-US.ts
  src/locale/en-US/global.json
  src/locale/zh-CN/global.json
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: config i18n
  src/App.tsx
  src/components/layout-component/Navbar.tsx
  src/hooks/locale.ts
  src/locale/index.ts
  src/locale/zh-CN.ts
  src/types/enum.ts
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: add ci test file type
  .lintstagedrc.json
Due: none

feat: add i18n library
  src/locale/en-US.ts
  src/locale/en-US/global.json
  src/locale/zh-CN.ts
  src/locale/zh-CN/global.json
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: devlop application theme toggle
  src/components/layout-component/Navbar.tsx
  src/hooks/theme.ts
  src/store/index.ts
  src/store/modules/application/index.ts
  src/store/modules/tab/index.ts
  src/store/modules/user/index.ts
  src/store/type.ts
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: add pinia-plugin-persistedstate
  package.json
  pnpm-lock.yaml
Due: none

feat: remove useless file
  src/store/modules/appStore.ts
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: develop switch light and dark mode feature
  src/App.tsx
  src/components/layout-component/Navbar.tsx
  src/store/index.ts
  src/store/modules/application/index.ts
  src/types/enum.ts
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: clean import export and gather enum
  src/App.tsx
  src/store/index.ts
  src/store/modules/application/index.ts
  src/store/modules/tab/index.ts
  src/store/modules/user/index.ts
  src/store/type.ts
  src/types/enum.ts
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: remove console and unuse file
  src/App.tsx
  src/components/layout-component/MenuComponent.tsx
  src/components/layout-component/Navbar.tsx
  src/hooks/theme.ts
  src/router/index.ts
  src/router/routes/useRoutes.ts
  src/views/detail/index.tsx
  src/views/nest/menu-item3/index.tsx
  src/views/user/info/LatestActivities.tsx
  src/views/user/info/MyTeam.tsx
  src/views/user/setting/BasicInformation.tsx
  src/views/user/setting/UserPanel.tsx
  src/views/visualization/data-analysis/ChainItem.tsx
  src/views/visualization/data-analysis/PopularTable.tsx
  src/views/visualization/multi-dimension-data-analysis/CardList.tsx
  src/views/visualization/multi-dimension-data-analysis/DataOverview.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

fix: navbar style
  src/components/layout-component/Navbar.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: replace image cdn and user name
  src/components/layout-component/Navbar.tsx
  src/mock/dashboardMock.ts
  src/mock/userMock.ts
  src/views/dashboard/monitor/LiveInformation.tsx
  src/views/dashboard/monitor/LivePanel.tsx
  src/views/dashboard/workbench/index.tsx
  src/views/login/LoginBanner.tsx
  src/views/user/info/MyProject.tsx
  src/views/user/info/UserInfoHeader.tsx
  src/views/user/setting/UserPanel.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

chore: add LICENSE
  LICENSE
Due: none

fix: correct spell
  src/App.tsx
  src/components/layout-component/Navbar.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: rename
  package.json
Due: none

chore: optimize login code
  src/api/user.ts
  src/locale/en-US/login.json
  src/locale/zh-CN/login.json
  src/views/login/LoginBanner.tsx
  src/views/login/LoginForm.tsx
  src/views/login/index.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: modify carousel animation
  src/views/login/LoginBanner.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

chore: gather applicationInfo
  src/components/layout-component/FooterComponent.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: split avatar option component
  src/components/layout-component/AvatarAndOptions.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: complete type
  src/types/enum.ts
  src/utils/routerHelper.ts
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: add message mock
  src/api/message.ts
  src/mock/messageMock.ts
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

feat: optimize certification
  src/views/user/setting/Certification.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix

chore: optimize security settings
  src/views/user/setting/SecuritySettings.tsx
  src/views/user/setting/style.module.scss
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix, stylelint --fix

chore: optimize basic information
  src/views/user/setting/BasicInformation.tsx
Due: bash -c vue-tsc --noEmit -p tsconfig.app.json --composite false, eslint --fix
